{% extends "../layout.html" %}

{% set pageHeading = "Where would you like to go?" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['questions-answered'] == 'true' %}
        <form method="post" action="/v1/check-answers">
        {% else %}
        <form method="post" action="/v1/name">
      {% endif %}
      
        {{ govukRadios({
          idPrefix: "where-to-go",
          name: "where-to-go",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "The Moon",
              text: "The Moon",
              checked: checked("where-to-go", "The Moon")
            },
            {
              value: "Mars",
              text: "Mars",
              checked: checked("where-to-go", "Mars")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
