{% extends "../layout.html" %}

{% set hideBackLink = true %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

      <p class="govuk-body">Use this service to register your interest in travelling to space.</p>

      <p class="govuk-body">We will ask you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>where you want to go (to The Moon or Mars)</li>
        <li>your full name and address</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "/v1/moon-or-mars",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
